<div class="transport-container primary-background">
  <app-header></app-header>
  <h2 *ngIf="errorFetchingRides" class="text-center text-error">Sorry, we are unable to process data at the
    moment. Please create a new ride.</h2>
  <div class="text-center clr-secondary" *ngIf="bookedRide">
    <h2>Congratulations! Your ride is booked successfully</h2>
    <h3>Ride Details:</h3>
    <p>Vehicle Num: {{bookedRide.vehicleNo}}</p>
    <p>Ride Time: {{bookedRide.time | date: 'shortTime'}}</p>
    <p>vehicleType : {{bookedRide.vehicleType}}</p>
    <p>
      Travelling With: {{bookedRide.travellingWith.join(', ')}}
    </p>
    <p>Drop: {{bookedRide.drop.name}}</p>
    <p>Pickup: {{bookedRide.pickup.name}}</p>
    <h3>Happy journey</h3>
  </div>
  <form class="transport-form" [hidden]="bookedRide" #transportForm="ngForm">
    <div class="form-group">
      <button class="button" [ngClass]="{'inactive': empForm.travelType !== 'Pickup'}"
        (click)="onTravelTypeChange('Pickup')">
        Pick Up
      </button>
      <button class="button ml-20" [ngClass]="{'inactive': empForm.travelType !== 'Drop'}"
        (click)="onTravelTypeChange('Drop')">
        Drop
      </button>
    </div>
    <div class="form-group">
      <div class="form-group">
        Vehicle: &nbsp;&nbsp;
        <label>
          <input required type="radio" [(ngModel)]="empForm.vehicleType" name="vehicleType" value="Car"
            (change)="validateAndSubmitForm()" />&nbsp;Car
        </label>
        <label class="ml-10">
          <input required type="radio" [(ngModel)]="empForm.vehicleType" name="vehicleType" value="Bike"
            (change)="validateAndSubmitForm()" />&nbsp;Bike
        </label>
      </div>
      <div class="form-group flex flex-between">
        <div>
          Source:&nbsp;
          <select required name="pickup-point" [disabled]="empForm?.pickupPoint === officeLoc.code"
            [(ngModel)]="empForm.pickupPoint" (change)="validateAndSubmitForm()" #pickupForm="ngModel">
            <option [value]="location?.code"
              [hidden]="location.code === officeLoc.code && empForm?.pickupPoint !== officeLoc.code"
              *ngFor="let location of locations">{{location.name}}</option>
          </select>
        </div>
        <div>
          Destination:&nbsp;
          <select required name="drop-point" [disabled]="empForm?.dropPoint === officeLoc.code"
            [(ngModel)]="empForm.dropPoint" (change)="validateAndSubmitForm()" #dropForm="ngModel">
            <option [value]="location?.code"
              [hidden]="location.code === officeLoc.code && empForm?.dropPoint !== officeLoc.code"
              *ngFor="let location of locations">
              {{location.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        Timings:&nbsp;
        <select required name="timings" [(ngModel)]="empForm.bookingTime" #timingForm="ngModel"
          (change)="validateAndSubmitForm()">
          <option [value]="timing" *ngFor="let timing of availableTimings">
            {{timing | date: 'shortTime'}}</option>
        </select>
      </div>
    </div>
    <div class="form-group flex flex-between flex-middle" *ngIf="bookNewRide">
      <div>
        <input type="text" name="vehicle num" class="font-18" required pattern="[a-zA-z0-9 ]+"
          placeholder="Vehicle Number" [(ngModel)]="empForm.vehicleNo" #vehicleNo="ngModel" />
        <div class="text-error" [hidden]="vehicleNo.valid || vehicleNo.pristine">Vehicle Number is mandatory</div>
      </div>
      <div>
        <button type="submit" class="button mr-10" (click)="validateAndSubmitForm()"
          [disabled]="!transportForm.form.valid">
          Book
        </button>
        <button type="button" (click)="bookNewRide = !bookNewRide" class="button">
          Cancel
        </button>
      </div>
    </div>
  </form>
  <div [hidden]="!emplyDisplayRides" id="user-rides">
    <div [hidden]="bookNewRide">
      <h2 *ngIf="emplyDisplayRides?.length" class="text-center clr-secondary">Matching Rides</h2>
      <div class="flex flex-between flex-wrapped card-layout" *ngIf="emplyDisplayRides?.length">
        <div class="card" *ngFor="let ride of emplyDisplayRides">
          <h3>Vehicle Num: {{ride.vehicleNo}}</h3>
          <p>Available Seats: {{ride.availableSeats}}
            <span class="text-error" *ngIf="!ride.availableSeats">No seat available</span>
          </p>
          <p>Ride Time: {{ride.time | date: 'shortTime'}}</p>
          <p>vehicleType : {{ride.vehicleType}}</p>
          <p>
            Travelling With: {{ride.travellingWith.join(', ')}}
          </p>
          <p>Drop: {{ride.drop.name}}</p>
          <p>Pickup: {{ride.pickup.name}}</p>
          <div class="text-right mt-10">
            <button type="button" class="button" [disabled]="!ride.availableSeats" (click)="bookRide(ride)">Book
              this ride</button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-30" *ngIf="!bookNewRide">
      <button (click)="bookNewRide = !bookNewRide" type="button" class="button">Book a new
        ride</button>
    </div>
    <h3 class="mt-10  text-center clr-secondary" *ngIf="!emplyDisplayRides?.length">No matching ride found. Try
      booking a new
      ride.</h3>
  </div>
</div>