@import '../../utils/styles/var-palette';

.transport-container {
  .transport-form {
    margin: 12px auto;
    padding: 0 20px;
    width: 50%;

    .inactive {
      opacity: .5;
    }

    >div:nth-child(2) {
      font-size: $fontSizeLarge;
      @include text-clr($textClrSecondary);
      padding: 10px;

      >div {
        @extend .mt-20;

        input[type="radio"] {
          cursor: pointer;
        }
      }
    }
  }

  #user-rides {
    .card-layout {
      @extend %backrgound-elements;

      .card {
        @extend %backrgound-elements;
        padding: 16px;
        transition: all 0.2s ease-in-out;
        width: 49%;
        box-sizing: border-box;
        @include text-clr($textClrSecondary);
        margin-bottom: 16px;
      }
    }
  }
}