@import '../../utils/styles/var-palette';

header {
  height: 60px;
  width: 100%;
  @include background-clr(transparent);
  @include text-clr($textClrSecondary);
  font-weight: 600;
  @extend .pt-20;

  >div:first-child {
    @extend .text-center;
    font-size: xx-large;
  }

  img {
    width: 3%;
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none;
    @extend .cursor-pointer;
  }
}