@import '../../utils/styles/var-palette';

.entry-container {
  position: relative;

  >div {
    font-size: xx-large;
    @include text-clr($clrActive);
    font-style: italic;
    width: 100%;
    position: absolute;
    top: 20%;
  }

  form {
    padding: 30px 20px;
    width: 50%;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    >div:nth-child(2) {
      position: relative;
      @extend .flex;
      justify-content: center;

      button {
        position: absolute;
        top: 70px;
      }
    }
  }

/* If screen size is more than 320px and less than 425px wide, set the font-size */
@media screen and (min-width: 320px) and (max-width: 425px) {
     >div {
         font-size: $fontSizeLarge !important;
     }
  }
}