<div class="entry-container primary-background">
  <div class="text-center">
    "Book Your Ride And Enjoy Comfortable Trip"
  </div>
  <form (submit)="onSubmit()" #entryForm="ngForm">
    <div class="form-group">
      <input type="text" class="text-center" name="employee id" required pattern="[a-zA-z0-9]+"
        placeholder="Enter Employee Id" [(ngModel)]="employeeId" #empId="ngModel" />
      <div class="text-error mt-10 text-center" [hidden]="empId.valid || empId.pristine">Missing or invalid
        employee id</div>
    </div>
    <div>
      <button type="submit" class="button" [disabled]=!entryForm.valid>
        Go
      </button>
    </div>
  </form>
</div>