/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import './app/utils/styles/custom-palette';
@import './app/utils/styles/var-palette';

html,
body {
  font-size: $fontSizeRegular;
  box-sizing: border-box;
  margin: 0 !important;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
}


a,
a:visited,
a:hover {
  color: $clrActive;
  text-decoration: none;
}

a:hover {
  color: $clrActive;
}



%input-elements {
  height: 28px;
  font-size: xx-large;
  font-weight: 400;
  line-height: 1.5;
  border: none;
  outline: none;
  @include text-clr($textClrSecondary);
  @include background-clr(transparent);
}

%input-select-elements {
  height: 28px;
  font-size: $fontSizeLarge;
  font-weight: 400;
  line-height: 1.5;
  border: none;
  outline: none;
  border-bottom: 1px solid ($textClrPrimary);
  @include background-clr(transparent);
}

input[type=text] {
  @extend %input-elements;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @include text-clr($textClrSecondary);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @include text-clr($textClrSecondary);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  @include text-clr($textClrSecondary);
}

select {
  @extend %input-select-elements;
  display: inline-block;
}

.button {
  @include border-single-radius(30px);
  @include background-clr($btnClrPrimary);
  @include text-clr($textClrSecondary);
  @extend .cursor-pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  border: none;
  font-size: $fontSizeLarge;
}


[disabled] {
  opacity: 0.4;
  cursor: not-allowed !important;
}

/* If screen size is more than 320px and less than 425px wide, set the font-size */
@media screen and (min-width: 320px) and (max-width: 425px) {
  %input-elements {
    font-size: $fontSizeLarge !important;
  }
}
