$lightBackground: #f5f7fa;
$btnClrPrimary: #228b2296;
$clrActive: lightcyan;
$clrError: red;
$textClrPrimary: #000000;
$textClrSecondary: #ffffff;
$fontSizeRegular: 14px;
$fontSizeSmall: 10px;
$fontSizeLarge: 18px;
$fontSizeXLarge: 24px;

/* mixin for  background color*/

@mixin background-clr($bv-color) {
  background-color: $bv-color;
}

/* mixin for text color */
@mixin text-clr($txt-color) {
  color: $txt-color;
}

/* mixin for border radius */

@mixin border-radius($top, $right, $bottom, $left) {
  -webkit-border-radius: $top $right $bottom $left;
  -moz-border-radius: $top $right $bottom $left;
  border-radius: $top $right $bottom $left;
}

@mixin border-single-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

/* box-shadow generator
    $clr- in RGBA format
 */

@mixin box-shadows($hset, $vset, $blur, $spread, $clr) {
  -webkit-box-shadow: $hset $vset $blur $spread $clr;
  -moz-box-shadow: $hset $vset $blur $spread $clr;
  box-shadow: $hset $vset $blur $spread $clr;
}
