@import './custom-palette';

// text colors
.text-error {
  color: $clrError;
}


// text-alignments
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.cursor-pointer {
  cursor: pointer;
}

// margins
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

// paddings
.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}



// flex
.flex {
  display: flex;
}

.flex-middle {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrapped {
  flex-wrap: wrap;
}

.clr-secondary {
  @include text-clr($textClrSecondary);
}
.font-18 {
    font-size: 18px !important;
}

// backgrounds
%backrgound-elements {
  background-image: url("src/assets/img/bg-image.jpeg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.primary-background {
  @extend %backrgound-elements;
  height: 100vh;
}

